@model IEnumerable<BlogWebTinTuc.Models.Post>
@{
    ViewBag.Title = "Trang Chủ";
}

<div >
    <h2>TIN TỨC</h2>
</div>


<div>
    <table>
        <tr>
            @foreach (var post in Model.Take(3))
            {
                <th>
                    <div>
                        <img src="@Html.DisplayFor(c => post.Url_image)" alt="" style="width: 344px; height: 194px">
                    </div>
                    <div>
                        <div style="position: relative; z-index: 10;">
                            <div>
                                <span>by</span>
                                <span>Cuong Nguyen</span>
                                <span>/</span>
                                <span>Tin tức</span>
                            </div>
                        </div>
                        <div>
                            <a href="@Url.Action("DetailNews", "Home" , new {id = post.PostID})">
                                <span>@Html.DisplayFor(c => post.Title)</span>
                            </a>
                        </div>
                    </div>
                </th>
            }
        </tr>
        <tr>
            @foreach (var post in Model.Skip(3).Take(3))
            {
                <th>
                    <div>
                        <img src="@Html.DisplayFor(c => post.Url_image)" alt="" style="width: 344px; height: 194px">
                    </div>
                    <div>
                        <div>
                            <div>
                                <span>by</span>
                                <span>A Cuong</span>
                                <span>/</span>
                                <span>Tin tức</span>
                            </div>
                        </div>  
                        <div>
                            <a href="@Url.Action("DetailNews", "Home" , new {id = post.PostID})">
                                <span>@Html.DisplayFor(c => post.Title)</span>
                            </a>
                        </div>
                    </div>
                </th>
            }
        </tr>
    </table>
</div>