@model IEnumerable<BlogWebTinTuc.Models.Post>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Website Blog Tin Tức</h2>
</div>


<div>
    <table>
        <tr>
            @foreach (var post in Model.Take(3))
            {
                <th>
                    <div>
                        <img src="@Html.DisplayFor(c => post.Url_image)" alt="" style="width: 25%; height: 25%">
                    </div>
                    <div>
                        <div style="position: relative; z-index: 10;">
                            <div class="mp-nav">
                                <span>by</span>
                                <span>Cuong dep trai</span>
                                <span>/</span>
                                <span>Breaking news</span>
                            </div>
                        </div>
                        <div>
                            <a href="@Url.Action("DetailNews", "Home" , new {id = post.PostID})">
                                <span>@Html.DisplayFor(c => post.Title)</span>
                            </a>
                        </div>
                    </div>
                </th>
            }
        </tr>
        <tr>
            @foreach (var post in Model.Skip(3).Take(3))
            {
                <th>
                    <div>
                        <img src="@Html.DisplayFor(c => post.Url_image)" alt="" style="width: 25%; height: 25%">
                    </div>
                    <div>
                        <div style="position: relative; z-index: 10;">
                            <div class="mp-nav">
                                <span>by</span>
                                <span>Cuong Nguyen</span>
                                <span>/</span>
                                <span>Breaking news</span>
                            </div>
                        </div>
                        <div>
                            <a href="@Url.Action("DetailNews", "Home" , new {id = post.PostID})">
                                <span>@Html.DisplayFor(c => post.Title)</span>
                            </a>
                        </div>
                    </div>
                </th>
            }
        </tr>
    </table>
</div>