@model IEnumerable<BlogWebTinTuc.Models.Role>

@{
    ViewBag.Title = "Role";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chức vụ</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.RoleID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.RoleID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.RoleID })
        </td>
    </tr>
}

</table>
