@model IEnumerable<BlogWebTinTuc.Models.Category>

@{
    ViewBag.Title = "Danh mục";
    if (Session["idUser"].ToString() == "admin")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Areas/BTV/Views/Shared/_LayoutBTV.cshtml";
    }
}

<h2>Danh Mục</h2>

<p>
    @Html.ActionLink("Thêm danh mục", "Create")
</p>


@using (Html.BeginForm())
{
    <p>
        Title: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.CategoryID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.CategoryID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.CategoryID })
            </td>
        </tr>
    }

</table>
