@model BlogWebTinTuc.Models.Post

@{
    ViewBag.Title = "Bài viết";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

@section jsFooter {
    <script>
        $(document).ready(function () {
            $('#btnSelectImage').on('click', function () {
                console.log('abc');
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    $('#Url_image').val(url);
                };
                finder.popup();
            })

            CKEDITOR.replace('textShortDescription', {
                customConfig: "/Scripts/ckeditor/config.js"
            });
        });
    </script>
}



<h2>Thêm bài viết</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input hidden value="@ViewBag.newPostID" name="PostID" />

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Url_image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Url_image, new { htmlAttributes = new { @class = "form-control" }, id = "txtImage" })
                <button type="button" id="btnSelectImage" href="#">Chọn ảnh</button>
                @Html.ValidationMessageFor(model => model.Url_image, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Textbody, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Textbody, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.Textbody, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, "Danh mục", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Danh sách bài viết", "Index")
</div>




